*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    font-family: Arial, Helvetica, sans-serif;
 
}

body{
    background-color: #F6F8FA;
}

header{
    background-color: #fff;
    height: 60px;
}

h1{
    display: inline-block;
    vertical-align: middle;
}

#logo{
    vertical-align: middle;
    margin-left: 15px;
    margin-top: 5px;
}

.container{
    max-width: 1100px;
    margin: 20px auto;
    padding: 20px 60px;
    height: 1000px;
    background-color:#fff;
}

.square{
    border: 1px solid gray;
    border-radius: 3px;
    padding: 6px;
}

.azzu{
    background-color:#46ABF3;
    color: #fff;
}

.grey{
    color: gray;
}

h3{
   margin:25px 0 0 0;
}

ul{
    list-style: none;

}

.true{
    border-radius: 50%;
    background-color: white;
    color: green;
    border: 1px solid green;
    padding: 3px;
    font-size: xx-small;
    margin-right: 5px;
    
}

.false{
    border-radius: 50%;
    background-color: white;
    color: red;
    border: 1px solid red;
    padding: 3px;
    background-size: 1%;
    font-size:xx-small;
    margin-right: 5px;

}

.margintext{
    line-height: 40px;
}